<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script  src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/js/board.js"></script>
<link type="text/css" href="/css/board.css" rel="stylesheet">
<title>게시판</title>
</head>
<body>
	<div class="wrapper">
		<div class="mainContainer">
			<div class="firstContainer">
				<table class="boardTable">
					<thead class="boardHeader">
						<tr>
							<th class="seq">번호</th>
							<th class="title">제목</th>
							<th class="author">글쓴이</th>
							<th class="regDate">등록일</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="secondContainer">
				<div class="pagingWrapper">
					
				</div>
				<div class="buttonWrapper">
					<a href="#" id="writeButton">쓰기</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script>

window.onload = function(){
	var b = new board(event);
	b.init();
};

</script>